<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.school.book.dao.IBookReviewsMapper">
	<resultMap id="BookReviewsMap" type="BookReviewsBean">
		<id property="code" column="code" />
		<result property="bookCode" column="book_code" />
		<result property="bookQuality" column="book_quality" />
		<result property="bookReviews" column="book_reviews" />
		<result property="bookReviewsTime" column="book_reviews_time" />
		<result property="userCode" column="user_code" />
	</resultMap>

</mapper>