<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.school.book.dao.IBookOrderInfoMapper">
	<resultMap id="BookOrderInfoMap" type="BookOrderInfoBean">
		<id property="code" column="code" />
		<result property="bookCode" column="book_code" />
		<result property="orderCode" column="order_code" />
		<result property="payPrice" column="pay_price" />
		<result property="quantity" column="quantity" />
	</resultMap>

</mapper>