<!DOCTYPE HTML>
<html>
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
  <meta charset="UTF-8">

  <meta name="description" content="">
  <meta name="keywords" content="">

  <title>404 - 翻书网</title>
  
  <link rel="shortcut icon" href="${rc.contextPath}/resources/favicon.png">
  <link href="${rc.contextPath}/resources/css/style.css" media="screen" rel="stylesheet" type="text/css">
  <link href="${rc.contextPath}/resources/css/grid.css" media="screen" rel="stylesheet" type="text/css">
 
  <script src="${rc.contextPath}/resources/js/jquery-1.7.2.min.js" ></script>
  <script src="${rc.contextPath}/resources/js/html5.js" ></script>
  <script src="${rc.contextPath}/resources/js/jflow.plus.js"></script>
  <script src="${rc.contextPath}/resources/js/jquery.carouFredSel-5.2.2-packed.js"></script>
  <script src="${rc.contextPath}/resources/js/checkbox.js"></script>
  <script src="${rc.contextPath}/resources/js/radio.js"></script>
  <script src="${rc.contextPath}/resources/js/selectBox.js"></script>

  <script>
	$(document).ready(function() {
		$("select").selectBox();
	});
  </script>

  <script>
	$(document).ready(function(){
		$("#myController").jFlow({
			controller: ".control", // must be class, use . sign
			slideWrapper : "#jFlowSlider", // must be id, use # sign
			slides: "#slider",  // the div where all your sliding divs are nested in
			selectedWrapper: "jFlowSelected",  // just pure text, no sign
			width: "984px",  // this is the width for the content-slider
			height: "480px",  // this is the height for the content-slider
			duration: 400,  // time in miliseconds to transition one slide
			prev: ".slidprev", // must be class, use . sign
			next: ".slidnext", // must be class, use . sign
			auto: true	
		});
	});
   </script>
   <script>
	$(function() {
	  $('#list_product').carouFredSel({
		prev: '#prev_c1',
		next: '#next_c1',
		auto: false
	  });
          $('#list_product2').carouFredSel({
		prev: '#prev_c2',
		next: '#next_c2',
		auto: false
	  });
	  $('#list_banners').carouFredSel({
		prev: '#ban_prev',
		next: '#ban_next',
		scroll: 1,
		auto: false
	  });
	  $(window).resize();
	});
   </script>
   <script>
       $(document).ready(function(){
	      $("button").click(function(){
		     $(this).addClass('click')
	      });             
       })
  </script>
</head>
<body>
  <div class="container_12">
    <div id="top">
    	<div class="grid_6">
        <div class="welcome">
			✿　<a href="/book-ui/user/index">翻书网首页</a>
        </div><!-- .welcome -->
      </div><!-- .grid_6 -->
    </div><!-- #top -->
  
    <div class="clear"></div>
   
    <header id="branding">
      <div class="grid_3">
        <hgroup>
          <h1 id="site_logo"><a href="/book-ui/user/index" title=""><img src="${rc.contextPath}/resources/images/logo.png" alt="Online Book Store Logo"/></a></h1>
          <h2 id="site_description">Online Book Store</h2>
        </hgroup>
      </div><!-- .grid_3 -->
      
      <div class="grid_3" style="padding-left:45%">
        <form class="search" action="bookInfoNameGrid">
          <input type="text" name="bookName" class="entry_form" value="" placeholder="Search book here ..."/>
	</form>
	<script>
	  	$(function(){
			$(".entry_form").blur(function(){
				if($(".entry_form").val()==""){
				
				}else{
					var bookName = $(".entry_form").val();
					window.location.href="bookInfoNameGrid?bookName="+bookName;
				}
			})
		})
	  </script>
      </div><!-- .grid_3 -->
      
    </header><!-- #branding -->
  </div><!-- .container_12 -->

  <div class="clear"></div>
  
  <section id="main" class="entire_width page-404">
    <div class="container_12">      
       <div id="content">
		<div class="grid_12 left_404">
			<h1 class="text_404" style="font-size:200pt">404</h1>
			<br />
			<br />
			<br />
			<br />
			<br />
			<h6 style="padding-left:50%">Page not found... <a href="/book-ui/user/index">返回首页</a></h6>
        </div><!-- .adress -->

      <div class="clear"></div>
    </div><!-- .container_12 -->
  </section><!-- #main -->
  
  <div class="clear"></div>
    
  <footer style="margin-top:80px">
    <div class="f_navigation">
      <div class="container_12">
        <div class="grid_3">
          <h3>联系我们</h3>
          <ul class="f_contact">
            <li>北京翻书网有限责任公司</li>
            <li>+86 </li>
            <li>@fanshu.com</li>
          </ul><!-- .f_contact -->
        </div><!-- .grid_3 -->

        <div class="grid_3">
          <h3>购物指南</h3>
          <nav class="f_menu">
            <ul>
              <li><a href="#">关于我们</a></li>
              <li><a href="#">隐私政策</a></li>
              <li><a href="#">用户条款</a></li>
              <li><a href="#">安全支付</a></li>
            </ul>
          </nav><!-- .private -->
        </div><!-- .grid_3 -->

        <div class="grid_3">
          <h3>商家服务</h3>
          <nav class="f_menu">
            <ul>
              <li><a href="contact_us.html">联系我们</a></li>
              <li><a href="#">优惠政策</a></li>
              <li><a href="#">反馈问题</a></li>
              <li><a href="#">官方BLOG</a></li>
            </ul>
          </nav><!-- .private -->
        </div><!-- .grid_3 -->

        <div class="grid_3">
          <h3>我的翻书</h3>
          <nav class="f_menu">
            <ul>
              <li><a href="#">个人中心</a></li>
              <li><a href="#">历史订单</a></li>
              <li><a href="#">购物车</a></li>
              <li><a href="#">最新消息</a></li>
            </ul>
          </nav><!-- .private -->
        </div><!-- .grid_3 -->

        <div class="clear"></div>
      </div><!-- .container_12 -->
    </div><!-- .f_navigation -->

    <div class="f_info">
      <div class="container_12">
        <div class="grid_6">
          <p class="copyright">Copyright (C) 翻书网 2015-2025, All Rights Reserved</p>
        </div><!-- .grid_6 -->

        <div class="grid_6">
          <div class="soc">
            <a class="google"></a>
            <a class="twitter"></a>
            <a class="facebook"></a>
          </div><!-- .soc -->
        </div><!-- .grid_6 -->

        <div class="clear"></div>
      </div><!-- .container_12 -->
    </div><!-- .f_info -->
  </footer>

</body>
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
</html>