<!DOCTYPE html>
<html class="app">
<head>
    <meta charset="utf-8" />
    <title>用户信息</title>
	<link rel="shortcut icon" href="/book-ui/resources/favicon.png">
    <link rel="stylesheet" href="${rc.contextPath}/resources/css/font.css" type="text/css" cache="false" />
    <link rel="stylesheet" href="${rc.contextPath}/resources/css/app.v2.css" type="text/css" />
    <link href="${rc.contextPath}/resources/css/datatables.css" rel="stylesheet" />
    <script src="${rc.contextPath}/resources/js/app.v2.js"></script>
    <script src="${rc.contextPath}/resources/js/jquery-1.7.2.min.js" ></script>
    <style>
        .fa-20x { font-family: 'Microsoft YaHei'; font-size: 20px; line-height: 2em; }

        .fa-10x { font-family: 'Microsoft YaHei'; font-size: 18px; line-height: 1em; }

        div.dataTables_wrapper select { width: auto; margin: 0 4px; }

        .navbar-brand .logo { max-height: 30px; border-radius: 3px; }

        table td { word-wrap: break-word; }

        .flleft { float: left; padding-left: 10%; }
    </style>
</head>
<body>
    <section class="vbox">
        <!--公用头部  begin-->
        <header class="bg-dark dk header navbar navbar-fixed-top-xs">
            <div class="navbar-header aside-md">
                <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen" data-target="#nav">
                    <i class="fa fa-bars"></i>
                </a>
                <a href="#" class="navbar-brand" data-toggle="fullscreen">
                      　翻书网后台管理系统
                </a>
                <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".nav-user">
                    <i class="fa fa-cog"></i>
                </a>
            </div>
            <div class="flleft">&nbsp;</div>
            <a href="#" class="btn btn-rounded btn-sm btn-twitter"><i class="fa fa-fw fa-envelope"></i>个人中心</a>
            <a href="#" class="btn btn-rounded btn-sm btn-facebook"><i class="fa fa-fw fa-book"></i>功能模块</a>
            <a href="#" class="btn btn-rounded btn-sm btn-gplus"><i class="fa fa-fw fa-folder"></i>Blog</a>
            <ul class="nav navbar-nav navbar-right hidden-xs nav-user">
                <li class="hidden-xs">
                    <a href="#" class="dropdown-toggle dk" data-toggle="dropdown">
                        <i class="fa fa-bell"></i>
                        <span class="badge badge-sm up bg-danger m-l-n-sm">1</span>
                    </a>
                    <section class="dropdown-menu aside-xl">
                        <section class="panel bg-white">
                            <header class="panel-heading b-light bg-light">
                                <strong>你有<span>1</span>条消息</strong>
                            </header>
                            <div>
                                <a href="#" class="media list-group-item">
                                    <span class="media-body block m-b-none">欢迎进入，翻书网后台管理系统！<br>
                                        <small class="text-muted">1小时前</small>
                                    </span>
                                </a>
                            </div>
                            <footer class="panel-footer text-sm">
                                <a href="#" class="pull-right">
                                    <i class="fa fa-cog"></i>
                                </a>
                            </footer>
                        </section>
                    </section>
                </li>
                <li class="dropdown hidden-xs">
                    <a href="#" class="dropdown-toggle dker" data-toggle="dropdown"><i class="fa fa-fw fa-search"></i></a>
                    <section class="dropdown-menu aside-xl animated fadeInUp">
                        <section class="panel bg-white">
                            <form role="search">
                                <div class="form-group wrapper m-b-none">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="搜索">
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn btn-info btn-icon"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </section>
                    </section>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                       管理员<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight">
                        <span class="arrow top"></span>
                        <li><a href="updatePassword">修改密码</a> </li>
                        <li><a href="loginout">退出</a> </li>
                    </ul>
                </li>
            </ul>
        </header>
        <!--公用头部  end-->
        <section>
            <section class="hbox stretch">
                <!-- 公用左侧导航  begin-->
                <aside class="bg-dark lter aside-md hidden-print" id="nav">
                    <section class="vbox">
                        <header class="header bg-primary lter text-center clearfix">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-dark btn-icon" title="New project">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <div class="btn-group hidden-nav-xs">
                                    <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
                                        添加
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu text-left">
                                        <li><a href="#">添加内部应用</a></li>
                                        <li><a href="#">添加外部应用</a></li>
                                    </ul>
                                </div>
                            </div>
                        </header>
                        <section class="w-f scrollable">
                            <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px" data-color="#333333">
                                <!-- 左侧大导航 begin -->
                                <nav class="nav-primary hidden-xs">
                                    <ul class="nav">
                                        <li>
                                            <a href="index" class="active">
                                                <i class="fa fa-home icon">
                                                    <b class="bg-danger"></b>
                                                </i>
                                                <span>主页</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="fa fa-desktop icon">
                                                    <b class="bg-success"></b>
                                                </i>
                                                <span class="pull-right">
                                                    <i class="fa fa-angle-down text"></i>
                                                    <i class="fa fa-angle-up text-active"></i>
                                                </span>
                                                <span>模块管理</span>
                                            </a>
                                            <ul class="nav lt">
                                                <li>
                                                    <a href="">
                                                        <i class="fa fa-angle-down text"></i>
                                                        <i class="fa fa-angle-up text-active"></i>
                                                        <span>首页管理</span>
                                                    </a>
                                                    <ul class="nav bg">
                                                        <li><a href="navigation"><i class="fa fa-angle-right"></i><span>导航菜单</span> </a></li>
														<li><a href="advert"><i class="fa fa-angle-right"></i><span>滚动广告</span> </a></li>
													</ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="fa fa-desktop icon">
                                                    <b class="bg-success"></b>
                                                </i>
                                                <span class="pull-right">
                                                    <i class="fa fa-angle-down text"></i>
                                                    <i class="fa fa-angle-up text-active"></i>
                                                </span>
                                                <span>库存管理</span>
                                            </a>
                                            <ul class="nav lt">
                                                <li>
                                                    <a href="">
                                                        <i class="fa fa-angle-down text"></i>
                                                        <i class="fa fa-angle-up text-active"></i>
                                                        <span>图书管理</span>
                                                    </a>
                                                    <ul class="nav bg">
                                                        <li><a href="outstorebook"><i class="fa fa-angle-right"></i><span>未上架图书列表</span> </a></li>
														<li><a href="instorebook"><i class="fa fa-angle-right"></i><span>已经上架图书列表</span> </a></li>
														<li><a href="discstorebook"><i class="fa fa-angle-right"></i><span>有折扣图书列表</span> </a></li>
														<li><a href="newstorebook"><i class="fa fa-angle-right"></i><span>新书上架列表</span> </a></li>
														<li><a href="hotstorebook"><i class="fa fa-angle-right"></i><span>畅销书推荐列表</span> </a></li>
														<li><a href="highstorebook"><i class="fa fa-angle-right"></i><span>评分最高列表</span> </a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
										<li>
                                            <a href="">
                                                <i class="fa fa-desktop icon">
                                                    <b class="bg-success"></b>
                                                </i>
                                                <span class="pull-right">
                                                    <i class="fa fa-angle-down text"></i>
                                                    <i class="fa fa-angle-up text-active"></i>
                                                </span>
                                                <span>评论管理</span>
                                            </a>
                                            <ul class="nav lt">
                                                <li>
                                                    <a href="">
                                                        <i class="fa fa-angle-down text"></i>
                                                        <i class="fa fa-angle-up text-active"></i>
                                                        <span>用户评论</span>
                                                    </a>
                                                    <ul class="nav bg">
														<li><a href="reviewswait"><i class="fa fa-angle-right"></i><span>待审核评论</span> </a></li>
                                                        <li><a href="reviewspass"><i class="fa fa-angle-right"></i><span>已通过评论</span> </a></li>
														<li><a href="reviewsnopass"><i class="fa fa-angle-right"></i><span>未通过评论</span> </a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
										<li>
                                            <a href="">
                                                <i class="fa fa-desktop icon">
                                                    <b class="bg-success"></b>
                                                </i>
                                                <span class="pull-right">
                                                    <i class="fa fa-angle-down text"></i>
                                                    <i class="fa fa-angle-up text-active"></i>
                                                </span>
                                                <span>卖家中心</span>
                                            </a>
                                            <ul class="nav lt">
                                                <li>
                                                    <a href="">
                                                        <i class="fa fa-angle-down text"></i>
                                                        <i class="fa fa-angle-up text-active"></i>
                                                        <span>货物管理</span>
                                                    </a>
                                                    <ul class="nav bg">
                                                        <li><a href="orderwait"><i class="fa fa-angle-right"></i><span>未处理订单</span> </a></li>
														<li><a href="orderpass"><i class="fa fa-angle-right"></i><span>已处理订单</span> </a></li>
														<li><a href="orderfinish"><i class="fa fa-angle-right"></i><span>已完成订单</span> </a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
										<li class="active">
                                            <a href="">
                                                <i class="fa fa-desktop icon">
                                                    <b class="bg-success"></b>
                                                </i>
                                                <span class="pull-right">
                                                    <i class="fa fa-angle-down text"></i>
                                                    <i class="fa fa-angle-up text-active"></i>
                                                </span>
                                                <span>安全管理</span>
                                            </a>
                                            <ul class="nav lt">
                                                <li class="active">
                                                    <a href="">
                                                        <i class="fa fa-angle-down text"></i>
                                                        <i class="fa fa-angle-up text-active"></i>
                                                        <span>帐号中心</span>
                                                    </a>
                                                    <ul class="nav bg">
                                                        <li class="active"><a href="getAllUser"><i class="fa fa-angle-right"></i><span>已注册用户</span> </a></li>
														<li><a href="updatePassword"><i class="fa fa-angle-right"></i><span>修改密码</span> </a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
										<li>
                                            <a href="">
                                                <i class="fa fa-desktop icon">
                                                    <b class="bg-success"></b>
                                                </i>
                                                <span class="pull-right">
                                                    <i class="fa fa-angle-down text"></i>
                                                    <i class="fa fa-angle-up text-active"></i>
                                                </span>
                                                <span>信息管理</span>
                                            </a>
                                            <ul class="nav lt">
                                                <li>
                                                    <a href="">
                                                        <i class="fa fa-angle-down text"></i>
                                                        <i class="fa fa-angle-up text-active"></i>
                                                        <span>信息中心</span>
                                                    </a>
                                                    <ul class="nav bg">
                                                        <li><a href="feedbackshow"><i class="fa fa-angle-right"></i><span>用户反馈</span> </a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                                <!-- 左面大导航 end -->
                            </div>
                        </section>
                        <footer class="footer lt hidden-xs b-t b-dark">
                            <a href="#nav" data-toggle="class:nav-xs" class="pull-right btn btn-sm btn-dark btn-icon">
                                <i class="fa fa-angle-left text"></i>
                                <i class="fa fa-angle-right text-active"></i>
                            </a>
                            
                        </footer>
                    </section>
                </aside>
                <!-- 公用左侧导航  end-->
                <section id="content">
                    <section class="vbox">
                        <!--头部功能-->
                        <header class="header bg-white b-b clearfix">
                            <div class="row m-t-sm">
                                <div class="col-sm-3 m-b-xs">
                                    <div class="col-sm-2 m-b-xs">
						            </div>
                                </div>
                            </div>
                        </header>
                        <!--表格主体-->
                        <section class="scrollable padder">
                            <div class="m-b-md">
                            </div>
                            <!--数据表格  begin -->
                            <section class="panel panel-default">
                                <div class="table-responsive">
                                    <table class="table table-striped m-b-none">
                                        <thead>
                                            <tr>
                                                <th>编号</th>
                                                <th>用户名</th>
												<th>真实姓名</th>
												<th>身份证号</th>
												<th>密保邮箱</th>
                                            </tr>
                                        </thead>
                                        <tbody>
											#if(${userInfoList} != "[]")
    											#foreach($userInfo in $userInfoList)
                                                 <tr>
                                                    <td>$velocityCount</td>
    												<td>$!userInfo.userName</td>
    												<td>$!userInfo.realName</td>
													<td>$!userInfo.idCard</td>
													<td>$!userInfo.userEmail</td>
                                                </tr>
    											#end
											#else
												<tr>
                                                    <td colspan="9">
														<span style="font-size:20pt;color:red;margin-left:30%">暂无用户信息！</span>
													</td>
                                                </tr>
											#end
                                        </tbody>
                                    </table>

                                </div>
                            </section>
                            <!--数据表格  end -->
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
	
    <!-- Bootstrap -->
</body>
</html>
