<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 为实体类起别名 -->
	<typeAliases>
		<typeAlias alias="BookInfoBean" type="com.school.book.bean.BookInfoBean"/>
		<typeAlias alias="BookOrderBean" type="com.school.book.bean.BookOrderBean"/>
		<typeAlias alias="BookOrderInfoBean" type="com.school.book.bean.BookOrderInfoBean"/>
		<typeAlias alias="BookReviewsBean" type="com.school.book.bean.BookReviewsBean"/>
		<typeAlias alias="NavListBean" type="com.school.book.bean.NavListBean"/>
		<typeAlias alias="ShoppingCarBean" type="com.school.book.bean.ShoppingCarBean"/>
		<typeAlias alias="UserAddressBean" type="com.school.book.bean.UserAddressBean"/>
		<typeAlias alias="UserInfoBean" type="com.school.book.bean.UserInfoBean"/>
		<typeAlias alias="UserPasswdBean" type="com.school.book.bean.UserPasswdBean"/>
	</typeAliases>
	<environments default="book">
		<environment id="book">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver"
					value="${jdbc.driverClassName}" />
				<property name="url"
					value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="mapper/BookInfoMapper.xml" />
		<mapper resource="mapper/BookOrderMapper.xml" />
		<mapper resource="mapper/BookOrderInfoMapper.xml" />
		<mapper resource="mapper/BookReviewsMapper.xml" />
		<mapper resource="mapper/NavListMapper.xml" />
		<mapper resource="mapper/ShoppingCarMapper.xml" />
		<mapper resource="mapper/UserAddressMapper.xml" />
		<mapper resource="mapper/UserInfoMapper.xml" />
		<mapper resource="mapper/UserPasswdMapper.xml" />
	</mappers>
</configuration>