<!DOCTYPE HTML>
<html>
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
  <meta charset="UTF-8">

  <meta name="description" content="">
  <meta name="keywords" content="">

  <title>购物车</title>

  <link rel="shortcut icon" href="${rc.contextPath}/resources/favicon.png">
  <link href="${rc.contextPath}/resources/css/style.css" media="screen" rel="stylesheet" type="text/css">
  <link href="${rc.contextPath}/resources/css/grid.css" media="screen" rel="stylesheet" type="text/css">

  <script src="${rc.contextPath}/resources/js/jquery-1.7.2.min.js" ></script>
  <script src="${rc.contextPath}/resources/js/html5.js" ></script>
  <script src="${rc.contextPath}/resources/js/jflow.plus.js" ></script>
  <script src="${rc.contextPath}/resources/js/jquery.carouFredSel-5.2.2-packed.js"></script>
  <script src="${rc.contextPath}/resources/js/checkbox.js"></script>
  <script src="${rc.contextPath}/resources/js/radio.js"></script>
  <script src="${rc.contextPath}/resources/js/selectBox.js"></script>

  <script>
       $(document).ready(function(){
	      $("#myController").jFlow({
		     controller: ".control", // must be class, use . sign
		     slideWrapper : "#jFlowSlider", // must be id, use # sign
		     slides: "#slider",  // the div where all your sliding divs are nested in
		     selectedWrapper: "jFlowSelected",  // just pure text, no sign
		     width: "984px",  // this is the width for the content-slider
		     height: "480px",  // this is the height for the content-slider
		     duration: 400,  // time in miliseconds to transition one slide
		     prev: ".slidprev", // must be class, use . sign
		     next: ".slidnext", // must be class, use . sign
		     auto: true
	      });
       });
  </script>
  <script>
       $(function() {
	  $('#list_product').carouFredSel({
		prev: '#prev_c1',
		next: '#next_c1',
		auto: false
	  });
          $('#list_product2').carouFredSel({
		prev: '#prev_c2',
		next: '#next_c2',
		auto: false
	  });
	  $(window).resize();
	});
  </script>
  <script>
       $(document).ready(function(){
	      $("button").click(function(){
		     $(this).addClass('click')
	      });
       })
  </script>
  <script>
       $(document).ready(function() {
	      $("select").selectBox();
       });
  </script>

</head>
<body>
  <div class="container_12">
    <div id="top">

      <div class="grid_12">
        <div class="welcome">
  			#if($realName == "")
				<span>欢迎来到翻书网  请</span><a href="/book-ui/user/login">登录</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/book-ui/user/register">免费注册</a>.
			#else
				<span>您好!&nbsp;&nbsp;</span><a href="">$!realName</a>,&nbsp;&nbsp;欢迎来到翻书网!
				<a style="float:right" href="login">切换用户</a>
			#end        </div><!-- .welcome -->
      </div><!-- .grid_6 -->
        
    </div><!-- #top -->

    <div class="clear"></div>

    <header id="branding">
      <div class="grid_3">
        <hgroup>
          <h1 id="site_logo"><a href="/book-ui/user/index" title=""><img src="${rc.contextPath}/resources/images/logo.png" alt="Online Book Store Logo"/></a></h1>
          <h2 id="site_description">Online Book Store</h2>
        </hgroup>
      </div><!-- .grid_3 -->

      <div class="grid_3">
        <form class="search" action="bookInfoNameGrid">
          <input type="text" name="bookName" class="entry_form" value="" placeholder="Search book here ..."/>
	</form>
	<script>
	  	$(function(){
			$(".entry_form").blur(function(){
				if($(".entry_form").val()==""){
				
				}else{
					var bookName = $(".entry_form").val();
					window.location.href="bookInfoNameGrid?bookName="+bookName;
				}
			})
		})
	  </script>
      </div><!-- .grid_3 -->

      <div class="grid_6">
        <ul id="cart_nav">
          <li>
            <a class="cart_li" href="">购物车 </a>
            <ul class="cart_cont">
              <li class="no_border"><p>最近添加的项目</p></li>
              #if(${shoppingCarList} != "[]")
			      #foreach($card in $shoppingCarList)
	              <li>
	                <a code="$!card.bookCode"class="prev_cart js_list_book"><div class="cart_vert"><img src="$!imagesPath$!{card.bookInfoBean.bookPicture}" alt="" title="" /></div></a>
	                <div class="cont_cart">
	                  <h4>$!{card.bookInfoBean.bookName}</h4>
	                  #if($!card.bookInfoBean.isDiscounts == 1)
    						#set($new=$!card.bookInfoBean.bookPrice * ( 1 - $!card.bookInfoBean.bookDiscounts))
                          <div class="price">$!{card.bookQuantity} x ￥ $new</div>
    					#else
    						<div class="price">$!{card.bookQuantity} x ￥ $!card.bookInfoBean.bookPrice</div>
    					#end
	                </div>
	                <a title="close" class="close js_close_car" carCode="$!{card.code}"></a>
	                <div class="clear"></div>
	              </li>
              		#end
			  #else
					<tr>
	                    <td colspan="6">
							<span style="font-size:10pt;margin-left:35%">购物车是空的</span>
						</td>
	                </tr>
				#end
	      <li class="no_border">
		<a href="getAllShoppingCar?userCode=$!userCode" class="view_cart">查看购物车</a>
	      </li>
            </ul>
          </li>
        </ul>

        <nav class="private">
          <ul>
            <li><a href="selcetUserInfo?userName=$!realName">个人中心</a></li>
		<li class="separator">|</li>
            <li><a href="historyOrder?userCode=$!userCode">我的历史订单</a></li>
          </ul>
        </nav><!-- .private -->
      </div><!-- .grid_6 -->
    </header><!-- #branding -->
  </div><!-- .container_12 -->

  <div class="clear"></div>

  <div id="block_nav_primary">
    <div class="container_12">
      <div class="grid_12">
        <nav class="primary">
         <ul>
            <li>
              <a href="bookInfoGrid?bookType=所有分类">所有分类</a>
              <ul class="sub">
				#foreach($navAll in $navList)
					<li style="text-align:center"><a href="bookInfoGrid?bookType=$!navAll.navPareName">$!navAll.navPareName</a></li>
                #end
              </ul>
            </li>
			<li><a>></a></li>
            #foreach($nav in $navList)
				<li><a href="bookInfoGrid?bookType=$!nav.navPareName">$!nav.navPareName</a></li>
			#end
          </ul>
        </nav><!-- .primary -->
      </div><!-- .grid_12 -->
    </div><!-- .container_12 -->
  </div><!-- .block_nav_primary -->

  <div class="clear"></div>

  <section id="main" class="entire_width">
    <div class="container_12">
       <div class="grid_12">
       <h1 class="page_title">购物车</h1>

       <table class="cart_product">
	      <tr>
		     <th class="images"></th>
		     <th class="bg name">名称</th>
		     <th class="bg price">单价</th>
		     <th class="qty">数量</th>
		     <th class="bg subtotal">总价</th>
		     <th class="close"> </th>
	      </tr>
	      #if(${shoppingCarList} != "[]")
		      #foreach($card in $shoppingCarList)
		      <tr>
			     <td class="images"><a code="$!card.bookCode" class="js_list_book"><img src="$!imagesPath$!{card.bookInfoBean.bookPicture}" alt=""></a></td>
			     <td class="bg name">$!{card.bookInfoBean.bookName}<br /><br />$!{card.bookInfoBean.bookAuthor}<br /><br />$!{card.bookInfoBean.bookPress} $!{card.bookInfoBean.bookPublictionTime}</td>
			   
				 #if($!{card.bookInfoBean.isDiscounts} == 1)
					#set($price = $!{card.bookInfoBean.bookPrice} * (1 - $!{card.bookInfoBean.bookDiscounts}))
                  <td class="bg price">￥ $price</td>
				#else
					<td class="bg price">￥ $!card.bookInfoBean.bookPrice</td>
				#end
				 
			     <td class="qty"><input type="text" name="" value="$!{card.bookQuantity}" placeholder="数量" readonly /></td>
			     
				 #if($!{card.bookInfoBean.isDiscounts} == 1)
					#set($total=$!card.bookInfoBean.bookPrice * ( 1 - $!card.bookInfoBean.bookDiscounts) * $!card.bookQuantity)
                  <input type="hidden" value="$total" class="totalV">
				  <td class="bg subtotal">￥ $total</td>
				#else
					#set($total=$!card.bookInfoBean.bookPrice * $!card.bookQuantity)
					<input type="hidden" value="$total" class="totalV">
					<td class="bg subtotal">￥ $total</td>
				#end
			     
				 <td class="close"><a title="close" carCode="$!{card.code}" class="close js_close_car"></a></td>
		      </tr>
		      #end
		  #else
				<tr>
                    <td colspan="6">
						<span style="font-size:10pt;">购物车是空的</span>
					</td>
                </tr>
			#end
	      <tr>
		     <td colspan="7" class="cart_but">
			    <button class="continue"><span>icon</span>继续购物</button>
			    <button userCode="$!userCode" class="update js_remove_car"><span>icon</span>清空购物车</button>
		     </td>
	      </tr>
       </table>
       </div><!-- .grid_12 -->
       
       <script>
       	$(function(){
       		$(".js_close_car").click(function(){
       			var carCode = $(this).attr("carCode");
       			var data = {
						carCode:carCode
					};
					$.ajax
					({
							type:'get',
							url:'removeShoppingCar',
							data:data,
							dataType:'text',
							success:function(){
								alert("删除成功!");
								history.go(0);
							},
							error:function(){
								alert("删除失败!");
							}
						})
       		})
     		$(".js_remove_car").click(function(){
					if($(this).parent().parent().parent().parent().find("tr").eq(1).text().trim()== "购物车是空的"){
    						alert("购物车是空的");
					}else{
    					var userCode = $(this).attr("userCode");
    					var data = {
    						userCode:userCode
    					};
    					$.ajax
						({
    							type:'get',
    							url:'removeAllShoppingCar',
    							data:data,
    							dataType:'text',
    							success:function(){
    								alert("购物车列表清空成功!");
    								history.go(0);
    							},
    							error:function(){
    								alert("购物车列表清空失败!");
    							}
    					})
					}
				})
				$(".continue").click(function(){
					history.go(-1);
				})
       	})
       </script>
       

       <div id="content_bottom">
        <div class="grid_8">
          <div class="bottom_block discount">
            <h3>收货地址</h3>
            <p>请选择您详细收货地址，</p>
	    <form>
  		<p>
			 #if(${userAddressList} != "[]")
    		     <select class="selectBox" id="car_address" style="display: none;width:550px">
    			    <option value="">请选择收货地址</option>
    				#foreach($list in $userAddressList)
    			    <option value="$!list.userAddress">$list.userAddress</option>
    				#end
    		     </select>
			#else
				<tr>
                    <td colspan="6">
						<a href="selectAddress?userCode=$!userCode" style="font-size:15pt;">增加新的收货地址</a>
					</td>
                </tr>
			#end
	    </p>
	    </form>
          </div><!-- .estimate -->
        </div><!-- .grid_4 -->


        <div class="grid_4" style="float:right">
          <div class="bottom_block total">
	      <table class="subtotal">
		     <tr class="grand_total">
			    <td>总计</td><td class="price js_totalV">$1, 500.00</td>
				<input type="hidden" id="totalV_input" value="">
		     </tr>
	      </table>
		  <script>
		  	$(function(){
				var total = 0;
				for(var i = 0;i < $(".totalV").size();i++){
					total += parseFloat($(".totalV").eq(i).val());
				}
				$(".js_totalV").text("￥ "+total);
				$("#totalV_input").val(total);
			})
		  </script>
	    <button class="checkout">去付款</button>
          </div><!-- .total -->
        </div><!-- .grid_4 -->
		
		<script>
			$(function(){
				$(".checkout").click(function(){
					var realName = "$!{realName}";
					var userCode = $!{userCode};
					var total = $("#totalV_input").val();
					var userAddress = $("#car_address").val();
					if(realName == ""){
						window.location.href="login";
					}else{
    					if(total == 0){
							alert("购物车是空的！");
						}else if(userAddress == ""){
							alert("请选择您的收货地址！");
						}else{
							var dataOrder = {
								userCode:userCode,
								total:total,
								userAddress:userAddress
							};
							$.ajax
    						({
    							type:'get',
    							url:'addOrder',
    							data:dataOrder,
    							dataType:'text',
    							success:function(message){
    								alert(message);
    								history.go(0);
    							},
    							error:function(){
    								alert("结算失败!");
    							}
    						})
						}
					}
				})
			})
		</script>

        <div class="clear"></div>
      </div><!-- #content_bottom -->
      <div class="clear"></div>

      <div class="clear"></div>

      <div class="carousel" id="following">
        <div class="c_header">
          <div class="grid_10">
            <h5>根据您的选择, 您可能会对这些感兴趣:</h5>
          </div><!-- .grid_10 -->

          <div class="grid_2">
            <a id="next_c1" class="next arows" href="#"><span>Next</span></a>
            <a id="prev_c1" class="prev arows" href="#"><span>Prev</span></a>
           </div><!-- .grid_2 -->
        </div><!-- .c_header -->

        <div class="list_carousel">

        <ul id="list_product" class="list_product">
         	#foreach($highList in $bookInfoListHigh)
                  <li class="">
                    <div class="grid_3 product">
                      <div class="prev">
                        <a code="$!highList.code" class="js_list_book"><img src="$!imagesPath$!{highList.bookPicture}" alt="" title="$!highList.bookName" /></a>
                      </div><!-- .prev -->
                      <h3 class="title">$!highList.bookName</h3>
                      <div class="cart">
                        <div class="price">
                        <div class="vert">
                          #if($!highList.isDiscounts == 1)
    						#set($new=$!highList.bookPrice * ( 1 - $!highList.bookDiscounts))
                          <div class="price_new">￥ $new</div>
                          <div class="price_old">￥ $!highList.bookPrice</div>
    					#else
    						<div class="price_new">￥ $!highList.bookPrice</div>
    					#end
                        </div>
                        </div>
        				<a class="like"></a>
                        <a code="$!{highList.code}" bookName="$!{highList.bookName}" userCode="$!userCode" class="obn js_obn"></a>
                        <a code="$!{highList.code}" userCode="$!userCode" class="bay js_bay"></a>
                      </div><!-- .cart -->
                    </div><!-- .grid_3 -->
                  </li>
        		  #end
        </ul><!-- #list_product -->
        </div><!-- .list_carousel -->
      </div><!-- .carousel -->
	<script>
	  	$(function(){
			$(".js_list_book").click(function(){
				var code = $(this).attr("code");
				window.location.href="bookdetailed?code="+code;
			})
		})
	  </script>
	  <script>
				$(function(){
					$(".js_obn").click(function(){
						var code = $(this).attr("code");
						var userCode = $(this).attr("userCode");
						var bookName = $(this).attr("bookName");
						var getData={
        						   bookCode:code,
        						   userCode:userCode,
        						   bookName:bookName
    					};
						$.ajax
						({
							type:'get',
							url:'bookcompareadd',
							data:getData,
							dataType:'text',
							success:function(){
								alert("添加比较列表成功!");
								history.go(0);
							},
							error:function(){
								alert("添加比较列表失败,请检查登录状态!");
							}
						})
					})
					$(".js_bay").click(function(){
						var code = $(this).attr("code");
						var userCode = $(this).attr("userCode");
						var bookQuantity = 1;
						var getData={
								   bookCode:code,
								   userCode:userCode,
								   bookQuantity:bookQuantity
						};
						$.ajax
						({
							type:'get',
							url:'addShoppingCar',
							data:getData,
							dataType:'text',
							success:function(){
								alert("添加购物车成功!");
								history.go(0);
							},
							error:function(){
								alert("添加购物车失败,请检查登录状态!");
							}
						})
					})
				})
			</script>
    </div><!-- .container_12 -->
  </section><!-- #main -->

  <div class="clear"></div>

 <footer>
    <div class="f_navigation">
      <div class="container_12">
        <div class="grid_3">
          <h3>联系我们</h3>
          <ul class="f_contact">
            <li>北京翻书网有限责任公司</li>
            <li>+86 18945039214</li>
            <li>wanglei@fanshu.com</li>
          </ul><!-- .f_contact -->
        </div><!-- .grid_3 -->

        <div class="grid_3">
          <h3>购物链接</h3>
          <nav class="f_menu">
            <ul>
              <li><a target="_blank" href="http://www.taobao.com">淘宝网</a></li>
			  <li><a target="_blank" href="http://www.tmall.com">天猫商城</a></li>
			  <li><a target="_blank" href="http://www.jd.com">京东</a></li>
			  <li><a target="_blank" href="http://www.amazon.cn">亚马逊</a></li>
			  <li><a target="_blank" href="http://www.dangdang.com">当当网</a></li>
			  
            </ul>
          </nav><!-- .private -->
        </div><!-- .grid_3 -->

        <div class="grid_3">
          <h3>商家服务</h3>
          <nav class="f_menu">
            <ul>
              <li><a href="feedbackshow">用户反馈</a></li>
			  <li><a href="feedbackshow">关于我们</a></li>
            </ul>
          </nav><!-- .private -->
        </div><!-- .grid_3 -->

        <div class="grid_3">
          <h3>我的翻书</h3>
          <nav class="f_menu">
            <ul>
              <li><a href="selcetUserInfo?userName=$!realName">个人中心</a></li>
              <li><a href="historyOrder?userCode=$!userCode">我的历史订单</a></li>
              <li><a href="getAllShoppingCar?userCode=$!userCode">购物车</a></li>
            </ul>
          </nav><!-- .private -->
        </div><!-- .grid_3 -->

        <div class="clear"></div>
      </div><!-- .container_12 -->
    </div><!-- .f_navigation -->

    <div class="f_info">
      <div class="container_12">
        <div class="grid_6">
          <p class="copyright">Copyright (C) 翻书网 2015-2025, All Rights Reserved</p>
        </div><!-- .grid_6 -->

        <div class="grid_6">
          <div class="soc">
            <a class="google"></a>
            <a class="twitter"></a>
            <a class="facebook"></a>
          </div><!-- .soc -->
        </div><!-- .grid_6 -->

        <div class="clear"></div>
      </div><!-- .container_12 -->
    </div><!-- .f_info -->
  </footer>

</body>
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
</html>
